.avia-section.av-gvy73-8b19be39b59b4750f067e891e33cf890{
background-color:#cc0000;
background-image:unset;
}

#top .flex_column.av-fzfwj-2fff215d28bfcb67653822d5ee5f29a3{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-fzfwj-2fff215d28bfcb67653822d5ee5f29a3{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-fzfwj-2fff215d28bfcb67653822d5ee5f29a3{
margin-top:0px;
margin-bottom:0px;
}

#top .av_textblock_section.av-f2t7n-e5a3b6db83a8e1a05ad5fb6c5ad97fa9 .avia_textblock{
font-size:32px;
color:#ffffff;
}

.flex_cell.av-e8zzj-0798b94f6ada4ed92afda91786663d6a{
vertical-align:bottom;
background:url(../images/IMG_0390-3.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-e8zzj-0798b94f6ada4ed92afda91786663d6a{
padding:30px 30px 30px 30px !important;
}

.flex_cell.av-co0r3-9daa5c86b302fe6404654e84c48798e1{
vertical-align:bottom;
background:url(../images/bellamy-driveway-1-1030x773.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-co0r3-9daa5c86b302fe6404654e84c48798e1{
padding:30px 30px 30px 30px !important;
}

.flex_cell.av-ba8ur-bf64df9b64ca4e54f118370693d92492{
vertical-align:bottom;
background:url(../images/lisa-cozzi-mill-st-2.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-ba8ur-bf64df9b64ca4e54f118370693d92492{
padding:30px 30px 30px 30px !important;
}

.flex_cell.av-9yjyf-d643348349f0200f5f72a6bc0d126a3a{
vertical-align:bottom;
background:url(../images/IMG-0175-1030x773.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-9yjyf-d643348349f0200f5f72a6bc0d126a3a{
padding:30px 30px 30px 30px !important;
}

.flex_column.av-804xb-4f0feea1b6cd1c5a3934c1db62c9ba94{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-video.av-77t8z-3f638a2a64093757cff2d448eea63f62{
background-image:url(../images/ncp-logo.png);
}

.flex_column.av-on9z-bff543359fb64fc0a6080f57a59e7eb6{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-5o3dv-5d1d5f15b68e801720b1cc23478baf1f{
background-repeat:no-repeat;
background-image:url(../images/IMG_0654.jpg);
background-position:0% 0%;
background-attachment:scroll;
}
.avia-section.av-5o3dv-5d1d5f15b68e801720b1cc23478baf1f .av-section-color-overlay{
opacity:0.4;
background-color:#000000;
}

#top .flex_column.av-55aav-9ecf974d7b151538e6a41a232bc5752a{
margin-top:0px;
margin-bottom:35px;
}
.flex_column.av-55aav-9ecf974d7b151538e6a41a232bc5752a{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-55aav-9ecf974d7b151538e6a41a232bc5752a{
margin-top:0px;
margin-bottom:35px;
}

#top .av_textblock_section.av-4hv0j-c72ce9c70a87f4105069449f827f8c75 .avia_textblock{
color:#ffffff;
}

.flex_column.av-3yi97-32e9f64191bd546c06043045d283ecb1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-2ocwv-c85b19263cacf7220eb7902e843c6f06{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1htib-b7d41d3c58e9b93a2ba22443e9d0d37c{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

